streamlit==1.32.2
uvicorn==0.28.0
loguru==0.7.2
fastapi==0.110.0
torch==2.2.1
pydantic==2.6.4
numpy==1.26.4
transformers==4.38.2
tqdm==4.66.2
jsonlines==4.0.0
pandas==2.2.1
scikit-learn==1.4.1.post1
sacrebleu==2.4.1
s3fs==2024.3.1
st-files-connection==0.1.0
